<h1>Cadastro de Shop </h1>

<%= form_for @shop, url: shopping_create_path do |f| %>
	<%= f.label :name, 'Nome' %>
	<%= f.text_field :name %>
	<%= f.label :address , 'Endereço' %>
	<%= f.text_field :address %>
	<%= f.submit 'Salvar' %>
<% end %>

<%= link_to "Ver lista de shopping", shopping_index_path%>