<h1>Alterar de Shop </h1>

<%= form_for @shop, url: stores_uptade_path(@stores.id) do |f| %>
	<%= f.label :name, 'Nome' %>
	<%= f.text_field :name %>
	<%= f.label :floor , 'Andar' %>
	<%= f.text_field :floor %>
	<%= f.submit 'Alterar' %>
<% end %>