<h1>Cadastro de Lojas </h1>

<%= form_for @store, url: stores_create_path do |f| %>
	<%= f.label :name, 'Nome' %>
	<%= f.text_field :name %>
	<%= f.label :floor , 'Piso' %>
	<%= f.text_field :floor %>
		<% hidden_field_tag :id , :idshopping%>
	<%= f.submit 'Salvar' %>
<% end %>
<br/>
<%= link_to "Ver lista de lojas", stores_index_path %>